body {
    text-align: center;
    font-family: cursive;
}

.info {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

.FAQ {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-style: dashed;
    margin-left: 20px;
    margin-right: 20px;
}

.QaA {
    border-style: dotted;
    border-width: 2px;
    background-color: pink;
    padding: 10px;
}

.QaA:hover {
    background-color: palevioletred;
}

.FAQsub {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    list-style-position: inside;
}

.flavors {
    border-style: outset;
    border-color: brown;
    border-width: 5px;
    width: 600px;
    margin: 0 auto;
    background-color: chocolate;
}

.ideas {
    border-style: outset;
    border-color: brown;
    border-width: 5px;
    width: 500px;
    margin: 0 auto;
    background-color: chocolate;
}

html {
    background-color: peachpuff;
}

.allergy {
    color: red;
    border-style: outset;
    border-color: crimson;
    border-width: 5px;
    width: 1000px;
    margin: 0 auto;
    background-color: white;
}

.infobox {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flavorlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 70px;
}

.idealist {
    margin-right: 40px;
}