body {
    text-align: center;
}

.info {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

.FAQ {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-style: dashed;
    margin-left: 20px;
    margin-right: 20px;
}

.QaA {
    border-style: dotted;
    border-width: 2px;
    background-color: red;
    padding: 10px;
}

.QaA:hover {
    background-color: crimson;
}

.FAQsub {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    list-style-position: inside;
}

.flavors {
    border-style: solid;
    width: 600px;
    margin: 0 auto;
}

.ideas {
    border-style: solid;
    width: 500px;
    margin: 0 auto;
}